body{
  background-color: #78B09C;
}

.navbar.navbar-inverse{
    margin: 0px;
}

.jumbotron {
  background-color: #FAEDD5;
  margin-top: 100px;
}

.jumbotron a.btn.btn-primary{
  background-color: #222;
  border-color: #080808;
}
